<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page_title}}</title>
  <link href="img/favicon.png" rel="icon" />
  <link href="css/{{environment}}/application.css" rel="stylesheet" />
  <link href="libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class={{body_class}}>
  <div class="wrapper">
    {{> application/header}}
    <div class="content">
      {{{body}}}
    </div>
  </div>
  {{> application/footer}}
  <script src="js/{{environment}}/bundle.js"></script>
</body>
</html>
